/* styles/main.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2196F3;
    color: rgb(165, 30, 30);
    text-align: center;
    padding: 1rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.metrics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.metric {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    flex: 0 0 calc(33.33% - 1rem);
}

.metric h2 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.metric-value {
    color: #2196F3;
    font-size: 1.5rem;
    font-weight: bold;
}

.chart {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}

.controls {
    text-align: center;
    margin-bottom: 2rem;
}

.button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0 0.5rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0D8BF2;
}

.predictions {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}

.predictions h2 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.predictions table {
    width: 100%;
    border-collapse: collapse;
}

.predictions th,
.predictions td {
    padding: 0.5rem 1rem;
    border: 1px solid #E0E0E0;
    text-align: left;
    font-size: 1rem;
}

.predictions th {
    background-color: #F5F5F5;
    font-weight: bold;
}

.footer{
    color: rgb(46, 3, 155);
    font-style: italic;
    text-align: center;

}
.footer:hover{
    color: #21f375;
}
